{
  "Entries": [
    {
      "RequestUri": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 24 Jan 2023 00:09:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "adventureworks"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A56.8873479Z\u0027\u0022",
        "Location": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)"
      },
      "ResponseBody": {
        "TableName": "adventureworks",
        "odata.metadata": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/adventureworks?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Tue, 24 Jan 2023 00:09:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Name": "Ocean Surfboard",
        "Quantity": 8,
        "Sale": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A57.5793671Z\u0027\u0022",
        "Location": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 24 Jan 2023 00:09:57 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A57.5793671Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/adventureworks/$metadata#adventureworks/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A57.5793671Z\u0027\u0022",
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Name": "Ocean Surfboard",
        "Quantity": 8,
        "Sale": true,
        "Timestamp": "2023-01-24T00:09:57.5793671Z"
      }
    },
[...]
    {
      "RequestUri": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/adventureworks()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey%20eq%20%27gear-surf-surfboards%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 24 Jan 2023 00:09:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A57.5793671Z\u0027\u0022",
            "RowKey": "68719518388",
            "PartitionKey": "gear-surf-surfboards",
            "Name": "Ocean Surfboard",
            "Quantity": 8,
            "Sale": true,
            "Timestamp": "2023-01-24T00:09:57.5793671Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-01-24T00%3A09%3A57.8327047Z\u0027\u0022",
            "RowKey": "68719518390",
            "PartitionKey": "gear-surf-surfboards",
            "Name": "Sand Surfboard",
            "Quantity": 5,
            "Sale": false,
            "Timestamp": "2023-01-24T00:09:57.8327047Z"
          }
        ],
        "odata.metadata": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/$metadata#adventureworks"
      }
    },
    {
      "RequestUri": "https://cosmos-tables-sdk-demo-001.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jan 2023 00:09:58 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
